@page {
  margin: 0;
}

body {
  -webkit-print-color-adjust: exact !important;
}

#react-resume-component {
  min-height: 100vh;
  max-width: 700px;
  display: flex;
  align-items: stretch;
  header,
  section {
    margin-bottom: 1em;
  }

  #about {
    flex: 0 0 18em;
    background: #131f30;
    color: #bfbfc3;
    padding: 1em;
  }
  h1 {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #about h2 {
    border-bottom: 1px solid #ffa500;
  }
  #main {
    padding: 1.5em;
    flex: 1 0 38em;
  }

  #main h2 {
    border-bottom: 1px solid;
  }

  #main section h3:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 1rem;
  }
  #main section h3 span {
    margin-left: 0.2em;
    font-size: 11px;
  }
  #main section h3 span:before {
    content: "/";
  }
  #main section .subsection {
    margin-bottom: 1rem;
  }
  #main section h3 {
    margin-bottom: 0.2em;
  }
  #main section .description {
    padding-left: calc(1rem + 5px);
  }
  #main section .description p {
    margin-bottom: 0.5rem;
  }

  #profession {
    margin-bottom: 33px;
  }

  #profile-image img {
    height: 10rem;
    border-radius: 5em;
    border: 2px solid #ffa500;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .skillName {
    display: inline-block;
    width: 10em;
  }

  .full-slide,
  .empty-slide {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 1px;
  }

  .full-slide {
    background: #131f30;
  }

  .empty-slide {
  }
  .skill {
    margin-right: 1em;
  }

  #skills-content {
    display: flex;
    flex-flow: wrap;
    padding-left: calc(1rem + 5px);
  }
  .icon {
    margin-right: 0.5em;
  }

  #keyboard {
    font-size: 150px;
  }
  a, a:active, a:visited {
    color: #000;
    text-decoration: none;
  }
}
